.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
.style0 {
  background-image: url(https://designresources.assets.yotako.io/e7upykityyk8adsqlk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 30.2%;
  margin-top: 13.42%;
  width: 39.583%;
  height: 39.814vh
}
.web19201image0column0 {
  display: flex;
  margin-left: 5.26%;
  margin-top: 9.3%;
  width: 90.789%;
  height: 81.395%;
  flex-direction: column
}
.style1,
.style2,
.style5 {
  color: #fff;
  font-family: Helvetica,serif
}
.style5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  align-self: stretch;
  width: 100%
}
.style1,
.style2 {
  width: 98.55%
}
.style2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  margin-top: 66.28%
}
.style1 {
  font-size: 16px;
  line-height: 26px;
  margin-top: 2.85%
}
.web19201image0column0row3 {
  display: flex;
  margin-top: 2.85%;
  width: 9.71%;
  height: 4.571%
}
.style4 {
  width: 23.88%;
  height: 100%
}
.style3 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: 13px;
  margin-left: 11.94%;
  height: 93.75%
}